.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.row {
  color: white;
  padding: 0 8rem;
  margin-top: 1.25rem;
  // margin-bottom: 1rem;
}

.row__movies {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  // justify-content: space-between;
  gap: 20px;
}

.row__movies::-webkit-scrollbar {
  display: none;
  color: #c5c4c4;
}

.row__movie {
  background-color: #1a1c1e;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
  // margin-right: 20px;
  // flex-grow: 5;
  // border: 1px solid #2f2e2f;
  width: 19%;
  height: 37rem;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.row__poster {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 78.5%;
}

.row__poster:hover {
  cursor: pointer;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.row__genre-button {
  padding: 4px 7px;
  height: 2rem;
  min-width: 50px; 
  font-weight: 500; 
  background-color: transparent; 
  border-radius: 1rem;
  margin-right: 0.5rem; 
  display: flex;
  border: 3px solid #2f2e2f;
}
.row__genre-button:hover {
  background-color: #2f2e2f;
  cursor: pointer;
}
.row__expand:hover {
  cursor: pointer;
}
.row__expand {
  display: flex;
  align-items: center;
}
